@model Employee
<div class="row">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <h2>Thông tin nhân viên</h2>
                </li>
            </ol>
        </nav>
    </div>
</div>            <!-- content -->
<div class="container">
    <!-- Begin modal change password -->
    <div class="modal fade" id="smallShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabelSmall">Thay đổi mật khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Mật khẩu mới:</label>
                            <input type="password" id="newPass" class="form-control" name="newPass">
                            <p style="color:red" id="nPass"></p>
                        </div>
                        <div class="form-group">
                            <label>Xác nhận mật khẩu mới:</label>
                            <input type="password" id="confirmNewPass" class="form-control" name="confirmPass">
                            <p style="color:red" id="confirm"></p>
                        </div>
                       
                        <button class="btn btn-success" id="btnChangePass">Lưu thay đổi</button>
                            
                        
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- end modal change password -->
    <form action="#">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Họ</label>
                    <input asp-for="FirstName" class=" form-control" placeholder="Nhập họ" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input asp-for="LastName" class="form-control" placeholder="Nhập tên" >
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input asp-for="UserName" class="form-control" placeholder="Nhập tên đăng nhập" >
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input asp-for="Address" class="form-control" placeholder="Nhập địa chỉ" >
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Nhập email" >
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input asp-for="Phone" class="form-control" placeholder="Nhập số điện thoại" >
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input asp-for="BirthDate" class="form-control" placeholder="Nhập ngày sinh">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Vai trò</label>
                    <select class="form-control">
                        <option>Super Admin</option>
                        <option>Nhân Viên</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Người quản lý</label>
                    <select class="form-control">
                        <option>Minhlc</option>
                        <option>Sonlh</option>
                        <option>Kydq</option>
                        <option>thanhhv</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ngày tạo</label>
                    <input asp-for="CreatedDate" class="form-control" placeholder="Ngày tạo" disabled >
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Người tạo</label>
                    <input type="text" class="form-control" disabled placeholder="Người tạo">
                </div>
                <div class="form-group">
                    <label>Ngày sửa lần cuối</label>
                    <input asp-for="ModifiedDate" class="form-control" placeholder="Ngày sửa lần cuối" disabled>
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Người sửa lần cuối</label>
                    <input type="text" class="form-control" disabled placeholder="Người sửa">
                </div>
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control">
                        @{
                            if (Model.Status == 1)
                            {
                                <option selected value="1">Enable</option>
                                <option value="0">Disable</option>
                            }
                            else
                            {
                                <option>Enable</option>
                                <option>Disable</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <br>
            <div class="container mt-2 mb-4">
                <button class="btn btn-success"><i class="fas fa-save"></i> Lưu thông tin</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#smallShoes">
                    Đổi mật khẩu
                </button>
            </div>
        </div>
    </form>

</div>

