    <!-- main-menu-area-start -->
<div class="main-menu-area hidden-sm hidden-xs sticky-header-1" id="header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="menu-area">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/">Trang chủ<i class="fa fa-angle-down"></i></a>
                            </li>
                            <li>
                                <a href="#">Sản Phẩm<i class="fa fa-angle-down"></i></a>
                                <div class="mega-menu">
                                    <span>
                                        <a href="#" class="title">Đồ Ăn</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="mon-hap">Món Hấp</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="mon-xao">Món Xào</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="mon-chien">Món Chiên</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="mon-nuong">Món Nướng</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="mon-nuoc">Món Nước</a>
                                    </span>
                                    <span>
                                        <a href="#" class="title">Đồ Uống</a>
                                        <a  asp-controller="Product" asp-action="Index" asp-route-seotitle="do-uong-dong-chai">Đồ Uống Đóng Chai</a>
                                        <a  asp-controller="Product" asp-action="Index" asp-route-seotitle="do-uong-tu-lam">Đồ Uống Tự Làm</a>
                                    </span>
                                    <span>
                                        <a href="#" class="title">Tráng Miệng</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="che">Chè</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="banh">Bánh</a>
                                        <a asp-controller="Product" asp-action="Index" asp-route-seotitle="trai-cay">Trái Cây</a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a asp-controller="Cart" asp-action="Index" asp-route-orderid="1">Giỏ Hàng</a>
                            </li>
                            <li>
                                <a href="product-details.html">Liên Hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-menu-area-end -->
<!-- mobile-menu-area-start -->
<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul id="nav">
                            <li>
                                <a href="index.html">Trang Chủ</a>
                            </li>
                            <li>
                                <a href="product-details.html">Sản Phẩm</a>
                                <ul>
                                    <li><a href="shop.html">Tops & Tees</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Graphic T-Shirts</a></li>
                                    <li><a href="shop.html">Jackets & Coats</a></li>
                                    <li><a href="shop.html">Fashion Jackets</a></li>
                                    <li><a href="shop.html">Crochet</a></li>
                                    <li><a href="shop.html">Sleeveless</a></li>
                                    <li><a href="shop.html">Stripes</a></li>
                                    <li><a href="shop.html">Sweaters</a></li>
                                    <li><a href="shop.html">hoodies</a></li>
                                    <li><a href="shop.html">Heeled sandals</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Flat sandals</a></li>
                                    <li><a href="shop.html">Short Sleeve</a></li>
                                    <li><a href="shop.html">Long Sleeve</a></li>
                                    <li><a href="shop.html">Polo Short Sleeve</a></li>
                                    <li><a href="shop.html">Sleeveless</a></li>
                                    <li><a href="shop.html">Graphic T-Shirts</a></li>
                                    <li><a href="shop.html">Hoodies</a></li>
                                    <li><a href="shop.html">Jackets</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="product-details.html">Page</a>
                                <ul>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="product-details.html">product-details</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">blog-details</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile-menu-area-end -->
