@{
    Layout = null;
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/signin.css" rel="stylesheet" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <h1 class="text-center">Đăng Ký tài khoản</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" name="fName">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" name="lName">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" name="phone">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" name="confirmPassword">
                </div>
                <button type="button" class="btn btn-primary">Đăng ký</button>
                <a href="#" class="text-center new-account">Bạn đã có tài khoản </a>
            </div>
        </div>
    </div>
</div>