




<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="shop-left">
        <div class="section-title-5 mb-30">
            <h2>Shopping Options</h2>
        </div>
        <div class="left-title mb-20">
            <h4>Category</h4>
        </div>
        <div class="left-menu mb-30">
            <ul>
                <li><a href="#">Jackets<span>(15)</span></a></li>
                <li><a href="#">weaters<span>(9)</span></a></li>
                <li><a href="#">Bottoms<span>(12)</span></a></li>
                <li><a href="#">Jeans Pants<span>(6)</span></a></li>
            </ul>
        </div>
        <div class="left-title mb-20">
            <h4>Manufacturer</h4>
        </div>
        <div class="left-menu mb-30">
            <ul>
                <li><a href="#">Adidas<span>(4)</span></a></li>
                <li><a href="#">Chanel<span>(7)</span></a></li>
                <li><a href="#">DKNY <span>(3)</span></a></li>
                <li><a href="#">Dolce<span>(3)</span></a></li>
                <li><a href="#">Gabbana<span>(2)</span></a></li>
                <li><a href="#">Nike<span>(3)</span></a></li>
                <li><a href="#">Other <span>(1)</span></a></li>
            </ul>
        </div>
        <div class="left-title mb-20">
            <h4>Price</h4>
        </div>
        <div class="left-menu mb-30">
            <ul>
                <li><a href="#">$0.00-$9.99<span>(1)</span></a></li>
                <li><a href="#">$30.00-$39.99<span>(11)</span></a></li>
                <li><a href="#">$40.00-$49.99<span>(2)</span></a></li>
                <li><a href="#">$50.00-$59.99<span>(3)</span></a></li>
                <li><a href="#">$70.00-and above<span>(1)</span></a></li>
            </ul>
        </div>
    </div>
</div>
