@{

    ViewData.Add("data", "Cart");
}
<!-- breadcrumbs-area-start -->
@await Html.PartialAsync("_Breadcrumbs", viewData: this.ViewData)
<!-- breadcrumbs-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->
<!-- cart-main-area-start -->
@await Html.PartialAsync("ProductCart")
@await Html.PartialAsync("CartDetail")
<!-- cart-main-area-end -->