@model IEnumerable<CartItem>

@{

    ViewData.Add("data", "Giỏ hàng");
}
<!-- breadcrumbs-area-start -->
@await Html.PartialAsync("_Breadcrumbs", viewData: this.ViewData)
<!-- breadcrumbs-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>GIỎ HÀNG</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->
<!-- cart-main-area-start -->


<div class="cart-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Hình Ảnh</th>
                                    <th class="product-name">Sản Phẩm</th>
                                    <th class="product-price">Giá bán</th>
                                    <th class="product-quantity">Số Lượng</th>
                                    <th class="product-subtotal">Tổng Tiền</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var p in Model)
                            {
                                var price = String.Format("{0:0,0 vnđ}", p.Product.Price);
                                var total = String.Format("{0:0,0 vnđ}", p.Total);
                                
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="img/@p.Product.ProductImage" alt="man"/></a></td>
                                    <td class="product-name"><a href="#">@p.Product.ProductName</a></td>
                                    <td class="product-price"><span class="amount">@price</span></td>
                                    <td class="product-quantity"><input type="number" id="value-product-quantity" value="@p.Quantity"></td>
                                    
                                    <td class="product-subtotal">@total</td>
                                    <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="buttons-cart mb-30">
                    <ul>
                        <li><a href="#">Cập nhật</a></li>
                        <li><a href="#">Tiếp tục mua sắm</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="cart_totals">
                    <h2>Tổng số giỏ hàng</h2>
                    <table>
                        <tbody>
                            <tr class="order-total">
                                <th>Số Lượng</th>
                                <td>
                                    <span class="amount">12</span>
                                </td>
                            </tr>
                            
                            <tr class="order-total">
                                <th>Tổng Tiền</th>
                                <td>
                                    <strong>
                                        <span class="amount">£215.00</span>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="wc-proceed-to-checkout">
                        <a href="#">Thanh Toán đơn hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@await Html.PartialAsync("CartDetail")
<!-- cart-main-area-end -->

@section Scripts{ 
    <script>
        $("#value-product-quantity").change(function(e) {
            var val = $("#value-product-quantity").val();
            val = val > 0 ? val : 0;
            $("#value-product-quantity").val(val);
            console.log(val);
        });
    </script>
}