
@{
    Layout = null;
}
@using OrderFoodLast.Areas.Admin.Models
<!DOCTYPE html>

<html>
@await Html.PartialAsync("_MyHeader")
<body>
    @{ 
        AllInfoOrderDetail o = Model;
    }
    <div class="wrapper">

        @await Html.PartialAsync("_MyNav")
        <div class="container">
            @await Html.PartialAsync("_MyBar")

            <!-- detail-->
            @await Html.PartialAsync("Confirm", o)
            <!-- end detail -->

        </div>

    </div>

</body>
@await Html.PartialAsync("_MyFooter")
</html>
