<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Khách hàng</th>
            <th scope="col">Mã hóa đơn</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Minh lý</td>
            <td>13872</td>
            <td>12/5/2019</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-check-circle"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    <a href="/Admin/Order/Edit/1" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Kỳ Quốc</td>
            <td>67256</td>
            <td>12/5/2019</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-check-circle"></i></button>
                    <button type="button" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    <a href="/Admin/Order/Edit/1" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>