<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-end">
            <li class="breadcrumb-item active">
                <div class="btn-group" role="group">
                    <input type="text">
                    <button type="button" class="btn btn-outline-danger">Tìm kiếm</button>
                </div>
            </li>
            <li class="breadcrumb-item active">
                <div class="btn-group" role="group">
                    <a href="add-product.html" class="btn btn-outline-success"><i class="fas fa-plus"></i> Thêm mới</a>
                    <button type="button" class="btn btn-outline-primary">Thống kê</button>
                </div>
            </li>
        </ol>
    </nav>
</div>
