<!-- sidebar  -->
<nav id="sidebar">
    <div class="box-sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a asp-action="index" asp-controller="product"><i class="fab fa-product-hunt"></i> Sản Phẩm</a>
            </li>
            <li>
                <a asp-action="index" asp-controller="order"><i class="fa fa-fw fa-database"></i> Đơn hàng</a>
            </li>
            <li>
                <a asp-action="index" asp-controller="employee"><i class="fa fa-fw fa-user"></i> Nhân viên</a>
            </li>

        </ul>
    </div>
</nav>
<!-- end sidebar -->