<!-- sidebar  -->
<nav id="sidebar">
    <div class="box-sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fab fa-product-hunt"></i> Sản Phẩm</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-fw fa-database"></i> Danh mục</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i> Nhà sản xuất</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end sidebar -->