<nav id="sidebar">
    <div class="box-sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/admin/customer"><i class="fa fa-fw fa-user"></i> Khách hàng</a>
            </li>
            <li>
                <a href="/admin/employee"><i class="fa fa-fw fa-user-secret"></i> Nhân viên</a>
            </li>
            <li>
                <a href="/admin/order"><i class="fa fa-fw fa-database"></i> Đơn đặt hàng</a>
            </li>

        </ul>
    </div>
</nav>