@model IEnumerable<CartItem>

@{ 
    var count = Model.Select(p => p.Quantity).Sum();
}
<div class="my-cart">
    <ul>
        <li>
            <a href="#"><i class="fa fa-shopping-cart"></i>My Cart</a>
            <span id="cntCart">@count</span>
            <div class="mini-cart-sub">
                <div style="overflow-y: auto; min-height:10px; max-height:250px; width:500px;">
                    <div class="cart-product">
                        


                        @if (Model.Count() != 0)
                        {
                            @foreach (var item in Model)
                            {
                                <div class="single-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="~/img/@item.Product.ProductImage" alt="book" /></a>
                                    </div>
                                    <div class="cart-info">
                                        <h5><a href="#">@item.Product.ProductName</a></h5>
                                        <p>@item.Quantity x @item.Product.Price VND</p>
                                    </div>
                                    <div class="cart-icon pl-2">
                                        <a href="#"><i class="fa fa-remove"></i></a>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
                
                <div class="cart-totals">
                    <h5>Total <span>£12.00</span></h5>
                </div>
                <div class="cart-bottom">
                    <a class="view-cart" asp-controller="Cart" asp-action="Index">view cart</a>
                    <a href="checkout.html">Check out</a>
                </div>
            </div>
        </li>
    </ul>
</div>
