@model IEnumerable<ProductCategory>
<div class="row">
    <div class="container" style="padding:0px">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item active">
                    <div class="btn-group" role="group">
                        <label for="inputState" style="margin-right:10px; margin-top:auto">State</label>
                        <select id="inputState" class="form-control">
                            <option value="" selected>All</option>
                            @foreach (var p in Model)
                            {
                                    <option value="@p.MetaTitle">@p.Name</option>
                            }
                        </select>
                    </div>
                </li>
                <li class="breadcrumb-item active">
                    <div class="btn-group" role="group">
                        <label for="inputState" style="margin-right:10px; margin-top:auto">Name Product</label>
                        <input type="text">
                        <button type="button" class="btn btn-outline-danger btnTimKiem">Tìm kiếm</button>
                    </div>
                </li>
                <li class="breadcrumb-item active">
                    <div class="btn-group" role="group">
                        <a href="add-product.html" class="btn btn-outline-success"><i class="fas fa-plus"></i> Thêm mới</a>
                        <button type="button" class="btn btn-outline-primary">Thống kê</button>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>
